@model GALibrary.Models.ServerUser

@{
    ViewData["Title"] = "Detalhes do usuário " + Model.Name;
}

<h1>Detalhes do usuário @Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ServerUsername)
        </dt>
        <dd class="col-sm-9">
            @{
                String serverUsername = "";
                if (Model.ServerUsername != null)
                {
                    serverUsername = GALibrary.GACrypto.Base64Decode(Model.ServerUsername);
                }
            }
            @serverUsername &nbsp;
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Enable)
        </dt>
        <dd class="col-sm-9">
            @{
                String ativo = "Sim";
                if (!Model.Enable) { ativo = "Não"; }
            }

            @ativo
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.User)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div class="row">
    <button class="btn btn-link" onclick="goBack()">
        <span class="fa fa-backward btn btn-success"> Voltar</span>
    </button>
</div>
