@model GALibrary.Models.Server

@{
    ViewData["Title"] = "Detalhes do servidor " + Model.Name;
}

<h1>Detalhes do servidor @Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name) &nbsp;
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description) &nbsp;
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ServerUserId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ServerUser.Name) &nbsp;
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.OSId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.OS.Name) &nbsp;
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.User) &nbsp;
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Date) &nbsp;
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Enable)
        </dt>
        <dd class="col-sm-9">
            @{
                String ativo = "Sim";
                if (!Model.Enable) { ativo = "Não"; }
            }

            @ativo &nbsp;
        </dd>
    </dl>
</div>

<div class="row">
    <button class="btn btn-link" onclick="goBack()">
        <span class="fa fa-backward btn btn-success"> Voltar</span>
    </button>
</div>
