@model GALibrary.Models.Environment

@{
    ViewData["Title"] = "Detalhes do ambiente " + Model.Name;
}

<h1>Detalhes do ambiente @Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description) &nbsp;
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enable)
        </dt>
        <dd class="col-sm-10">
            @{
                String ativo = "Sim";
                if (!Model.Enable) { ativo = "Não"; }
            }

            @ativo
        </dd>
    </dl>
</div>
<div class="row">
    <button class="btn btn-link" onclick="goBack()">
        <span class="fa fa-backward btn btn-success"> Voltar</span>
    </button>
</div>

